.loginForm{
    width: 50%; /* adjust as needed */
    margin: 0 auto; /* centers the element horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centers the element vertically and horizontally */
    border: 1px solid red;
    border-color:black;
}

.label-color {
    color: white;
}